<div class="details">
  <app-empty *ngIf="emptyDetails"></app-empty>

  <mat-card  *ngFor="let comics of comicDetails | async" class="comics">
    <mat-spinner *ngIf="setSpinner" color="accent"> </mat-spinner>
    <img class='image-thumn-detail'[src]="comics.thumbnail?.urlImage" width="200px" />
    <div class="urls">
      <ng-container *ngFor="let url of comics.urls">
        <a mat-button [href]="url.url" target="_blank">{{
          capitalize(url.type)
        }}</a>
      </ng-container>
    </div>
  </mat-card>
  <div mat-dialog-actions class="close-details">
    <button mat-button mat-dialog-close (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
